* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #101820ff;
    color: #ffffff;
}

h1 {
    color: #B3B3B3;
}

.btn {
    background-color: #034188;
    color: #ffffff;
}


.head {
    font-size: 20px;
    margin-left: 40px;
    margin-top: 7px;
    color: #b3b3b3;
}

.icons {
    font-size: 20px;
    margin-right: 40px;
    margin-top: 10px;
}

.fa-circle-check {
    color: #00e700;
}

.fa-circle-xmark {
    color: red;
}

.fa-pencil {
    color: #B3B3B3;
}

.icon {
    padding: 5px;
}

.border {
    color: #404040;
}

.done {
    background-color: #006b38ff;
    color: #ffffff;
}